<header class="header container-fluid">
  <div class="header__wrapper container-fluid">
    <div class="row">
      <div class="col page-logo__wrapper">
        <h1 class="page-logo page-logo--text">
          <a class="heading heading--upper heading--light h4" href="#">sectioncloud</a>
        </h1>
      </div>

      <nav class="col navbar navbar--center navbar--collapsible">
        <ul class="navbar__nav navbar__nav--center">
          <li class="nav__item active">
            <a class="nav__link" href="#">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Demo sections</a>
          </li>
        </ul>
      </nav>
      <nav class="col navbar navbar--right">
        <ul class="navbar__nav navbar__nav--right">
          <li class="nav__item active">
            <a class="nav__link" href="#">
              <svg class="bi bi-bag" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
              </svg>
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">
              <svg class="bi bi-search" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

{%- schema -%}

{
  "name": "Custom Header",
  "class": "header__container",
  "settings": [
    {
      "id": "logo-alignment",
      "type": "select",
      "label": "Alignment",
      "options": [
        {
          "label": "Left",
          "value": "left"
        }, {
          "label": "Center",
          "value": "center"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Header",
      "name": "Custom Header",
      "settings": {
        "logo-alignment": "left"
      }
    }
  ]
}

{%- endschema -%}
